* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: cadetblue;
  padding: 5%;
}

#resultsCtn {
  padding: 5% 0;
  font-size: 1.5rem;
}