.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 5%;
    background: $lightgrey;
    z-index: 1;

    &__logo{
        height: 18px;
        cursor: pointer;
    }

    &__menu-button{
        background: none;
        // outline: none;
        border: 0;
    }

    &__menu-icon{
        height: 10px;
    }
}

.offcanvas{
    background: $blue;
    color: $white;
    padding: 1.5rem;
    border-right: 6px solid $white;
    &__header{
        align-items: flex-start;
    }
    &__logo{
        height: 70px;
    }
    &__close{
        font-size: 1.5rem;
    }
    &__body{
        display: flex;
        flex-flow: column wrap;
        padding-top: 5rem;
        padding-left: 7%;
    }
    &__page-link{
        text-decoration: none;
        color: $lightgrey;
        font-size: 2.5rem;
        line-height: 2;
        border-bottom: 4px solid $blue;
        &:hover{
            color: $white;
            border-bottom: 4px solid $white;
        }
    }
}

.offcanvas-start{
    width: 250px;
}