@import "var";
@import "resets";
@import "tab-slider";
@import "navbar";
@import "top-stories";
@import "card";
@import "search";

body{
    width: 100%;
    background: $lightgrey;
    font-family: $headingfont;
}

#resultsCtn{
    padding: 5% 0;
    font-size: 1.5rem;
}

