@import "var";
@import "resets";
@import "tab-slider";
@import "navbar";
@import "top-stories";
@import "card";
@import "search";
@import "modal";
@import "about";

body{
    width: 100%;
    background: $lightgrey;
    font-family: $headingfont;
}

